@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}
body {
  overflow-x: hidden;
}
html {
  scroll-snap-type: y mandatory;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.swiper-button-next {
  background-image: url(/rightArrow.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-color: transparent;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(/leftArrow.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-color: transparent;
}

.swiper-button-prev::after {
  display: none;
}
#stars {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 4;
}

.box {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(237, 232, 93);
  z-index: 9999;
}
