.mainDiv {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.navigationDiv {
  height: 12vh;
  width: 100%;
}

.container {
  height: 77vh;
  width: 85%;
  display: flex;
  margin: auto;
  backdrop-filter: blur(7px) saturate(200%);
  -webkit-backdrop-filter: blur(7px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.71);
  border-radius: 5px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.filter {
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.filter h3 {
  padding: 0;
  margin: 0;
}
.projectContainer {
  /* height: 80vh; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.project {
  height: 30vh;
  width: 31.2%;
  background-color: black;
  margin: 1%;
}
