.mainDiv {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.navigationDiv {
  height: 12vh;
  width: 100%;
}

.container {
  height: 77vh;
  width: 85%;
  display: flex;
  margin: auto;
  backdrop-filter: blur(7px) saturate(200%);
  -webkit-backdrop-filter: blur(7px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.71);
  border-radius: 5px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inContainer{
  width: 100%;
}
.inContainer h1{
  font-size: 1.9rem;
}
.inContainer p{
  font-size: 1.3rem;
}
.inContainer h1,
.inContainer p{
  margin: 0;
}
.inContainer h1{
  margin: 0.4vh;
}
.inContainer button{
  padding: 1%;
  font-size: 1.3rem;
  border-radius: 10px;
  color: white;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border: none;
}
.social{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}